<!--Error page starts-->
<div class="ddpage-loading" *ngIf="loading else loaded">
    <img src="assets/img/oval.svg" class="ddloading-icon" />
  </div>
<ng-template #loaded>
<section id="error" *ngIf="pagehaserror">
    <div class="container-fluid">
      <div class="row auth-height full-height-vh">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="row">
            <div class="col-12 text-center">
              <img src="assets/img/gallery/error.png" alt="" class="img-fluid error-img mt-2" height="300" width="400">
              <h1 class="mt-4">Your reset password link is expired.</h1>
              <div class="w-75 error-text mx-auto mt-4">
                <p>Either your link is expired or you've already changed your password with this link.</p>
              </div>
              <a [routerLink]="['/']" class="btn btn-warning my-2">Back To Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Error page ends-->
  
<!--Login Page Starts-->
<section id="login" *ngIf="!pagehaserror">
    <div class="row auth-height full-height-vh m-0">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card overflow-hidden">
          <div class="card-content">
            <div class="card-body auth-img">
              <div class="row m-0">
                <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center auth-img-bg p-3">
                  <img src="assets/img/gallery/login.png" alt="" class="img-fluid" width="300" height="230">
                </div>
                <div class="col-lg-6 col-12 px-4 py-3">
                  <h4 class="mb-2 card-title">Reset Password</h4>
                  <p>Please enter your password and confirm password.</p>
                  <ul class="successclass" *ngIf="finalsuccess" > 
                        <li *ngFor='let error of finalsuccess;'> {{ error }} </li>
                    </ul>
                    <ul class="errorsclass" *ngIf="finalerror" > 
                        <li *ngFor='let error of finalerror;'> {{ error }} </li>
                    </ul>
                  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                    
                    <div class="form-group">
                      <input type="password" formControlName="password" class="form-control" placeholder="Password"
                        [ngClass]="{ 'is-invalid': resetFormSubmitted && lf.password.invalid, 'is-valid': resetFormSubmitted && !lf.password.invalid }"
                        required>
                        <div class="text-danger" *ngIf="resetFormSubmitted && resetForm.get('password').errors && 
                        resetForm.get('password').hasError('required')">
                        <span>Password is required</span>
                        </div>
                        <div class="text-danger" *ngIf="resetFormSubmitted && resetForm.get('password').errors && 
                        resetForm.get('password').hasError('minlength')">
                            <span>password should be minimum 6 characters.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" formControlName="confirm_password" class="form-control" placeholder="Confirm Password"
                         [ngClass]="{ 'is-invalid': resetFormSubmitted && resetForm.hasError('notSame') }"
                         [ngClass]="{ 'is-invalid': resetFormSubmitted && lf.confirm_password.invalid, 'is-valid': resetFormSubmitted && !lf.confirm_password.invalid }">
                         <div class="text-danger" *ngIf="resetFormSubmitted && resetForm.hasError('notSame')">
                            <span>Passwords do not match.</span>
                        </div>
                        <div class="text-danger" *ngIf="resetFormSubmitted && resetForm.get('confirm_password').errors && 
                        resetForm.get('confirm_password').hasError('required')">
                        <span>Password is required</span>
                        </div>
                      </div>
                    <div class="d-flex flex-sm-row flex-column justify-content-between">
                        <a [routerLink]="['/login']" class="btn bg-light-primary mb-2 mb-sm-0">Back To Login</a>
                        <button class="btn btn-primary ml-sm-1">Reset <i class="fa fa-spinner fa-spin" *ngIf="isLoading$ | async"></i></button>
                      </div>
                    
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Login Page Ends-->
</ng-template>