<!--Login Page Starts-->
<section id="login">
  <div class="row auth-height full-height-vh m-0">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body auth-img">
            <div class="row m-0">
              <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center auth-img-bg p-0">
                <img src="assets/img/gallery/login.png" alt="" class="img-fluid" />
              </div>
              <div class="col-lg-6 col-12 px-3 py-5">
                <h4 class="mb-2 card-title">Login</h4>
                <p>Welcome back, please login to your account.</p>
                <ngb-alert type="light-danger" class="mb-2" *ngIf="serverErrors.hasError" (closed)="serverErrors.resetErrors()">
                  <p class="mb-0" *ngFor="let err of serverErrors.errors">
                    {{ err }}
                  </p>
                </ngb-alert>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <input type="text" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{
                        'is-invalid': loginFormSubmitted && lf.email.invalid,
                        'is-valid': loginFormSubmitted && !lf.email.invalid
                      }" required />
                    <div *ngIf="loginFormSubmitted && lf.email.errors?.required" class="help-block mt-1 text-danger">
                      <i class="ft-alert-circle align-middle"></i>Email is
                      required.
                    </div>
                    <div *ngIf="loginFormSubmitted && lf.email.errors?.email" class="help-block mt-1 text-danger">
                      <i class="ft-alert-circle align-middle"></i> Invalid
                      Email.
                    </div>
                  </div>
                  <div class="form-group relative">
                    <input [type]="hide ? 'password' : 'text'" formControlName="password" class="form-control" placeholder="Password" [ngClass]="{
                        'is-invalid': loginFormSubmitted && lf.password.invalid,
                        'is-valid': loginFormSubmitted && !lf.password.invalid
                      }" required />
                    <span class="fa fa-eye set_eye_icon" *ngIf="hide" (click)="hide = !hide"></span>
                    <span class="fa fa-eye-slash set_eye_icon" *ngIf="!hide" (click)="hide = !hide"></span>
                    <div *ngIf="
                        loginFormSubmitted &&
                        (lf.password.invalid || lf.password.errors?.required)
                      " class="help-block mt-1 text-danger">
                      <i class="ft-alert-circle align-middle"></i> This is
                      required
                    </div>
                  </div>
                  <!-- <div
                    class="d-sm-flex justify-content-between mb-1 font-small-2"
                  >
                    <a [routerLink]="['/forgotpassword']">Forgot Password?</a>
                  </div> -->

                  <div class="d-flex justify-content-between flex-sm-row flex-column">
                    <button type="submit" class="btn btn-primary">
                      Login
                      <i class="fa fa-spinner fa-spin" *ngIf="isLoading$ | async"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Login Page Ends-->