<!--Forgot Password Starts-->
<form [formGroup]="forgotpassword" (ngSubmit)="onSubmit()" >
<section id="forgot-password">
  <div class="row auth-height full-height-vh m-0 d-flex align-items-center justify-content-center">
    <div class="col-md-7 col-12">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body auth-img">
            <div class="row m-0">
              <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center text-center auth-img-bg py-2">
                <img src="assets/img/gallery/forgot.png" alt="" class="img-fluid" width="260" height="230">
              </div>
              <div class="col-lg-6 col-md-12 px-4 py-3">
                <h4 class="mb-2 card-title">Recover Password</h4>
                <p class="card-text mb-3">Please enter your email address and we'll send you instructions on how to reset your password.</p>
                <ul class="successclass" *ngIf="finalsuccess" > 
                    <li *ngFor='let error of finalsuccess;'> {{ error }} </li>
                </ul>
                <ul class="errorsclass" *ngIf="finalerror" > 
                    <li *ngFor='let error of finalerror;'> {{ error }} </li>
                </ul>
                <div class="form-group">
                    <input type="text" formControlName="email"  class="form-control" placeholder="email"
                    [ngClass]="{ 'is-invalid': forgotpasswordFormSubmitted && lf.email.invalid, 'is-valid': forgotpasswordFormSubmitted && !lf.email.invalid }"
                    required>
                  <div *ngIf="forgotpasswordFormSubmitted &&  lf.email.errors?.required" class="help-block mt-1 text-danger">
                    Email is required.
                  </div>
                  <div *ngIf="forgotpasswordFormSubmitted && lf.email.errors?.email" class="help-block mt-1 text-danger"> Invalid Email.</div>
                </div>
                <div class="form-group">
                  <re-captcha formControlName="token"></re-captcha>
                  <div *ngIf="forgotpasswordFormSubmitted && (lf.token.invalid || lf.token.errors?.required)"
                    class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Please verify you're not robot.
                  </div>
                </div>
                <div class="d-flex flex-sm-row flex-column justify-content-between">
                  <a [routerLink]="['/login']" class="btn bg-light-primary mb-2 mb-sm-0">Back To Login</a>
                  <button class="btn btn-primary ml-sm-1">Recover <i class="fa fa-spinner fa-spin" *ngIf="isLoading$ | async"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</form>
<!--Forgot Password Ends-->
