<!-- Basic Datatables -->

<section id="ngx-datatable-basic">
  <div class="row">
    <div class="col-12">
      <div class="card customisecard">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <h4 class="card-title mt-1">Plans</h4>
            </div>
            <div class="col-md-6">
              <a [routerLink]="['/settings/add-new']" class="btn btn-sm btn-primary pull-right"><i class="fa fa-plus-circle"></i> Add Plan</a>
            </div>
          </div>
        </div>
        <div class="card-content">
          <div class="card-body">
            <fieldset class="form-group role_filter" style="
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                row-gap: 0.5rem;
              " [formGroup]="filterGroup">
              <label class="mr-1">Search:</label>
              <input formControlName="search" class="form-control form-control-sm d-inline-block width-200 mr-1"
                type="text" placeholder="Search" />

              <ng-select formControlName="status" class="d-inline-block form-control-sm width-200 mr-1"
                placeholder="Select Status">
                <ng-option value="active">Active</ng-option>
                <ng-option value="inactive">InActive</ng-option>
              </ng-select>
              <ng-select formControlName="type" class="d-inline-block form-control-sm width-200 mr-1"
                placeholder="Select Status">
                <ng-option value="one_time">One Time</ng-option>
                <ng-option value="monthly">Monthly</ng-option>
              </ng-select>

              <!-- <button class="btn btn-sm btn-info d-inline-block" (click)="toggleCustomizer()"><i class="fa fa-search"
                  aria-hidden="true"></i> Advance
                Search</button> -->
            </fieldset>

            <!-- ngx-datatable Basic -->
            <ngx-datatable class="bootstrap core-bootstrap" [rows]="rows" rowHeight="auto" [messages]="my_messages"
              [columnMode]="ColumnMode.force" [scrollbarH]="true" [headerHeight]="50" [footerHeight]="50"
              [count]="count" [externalPaging]="true" [externalSorting]="true" [limit]="limit" [offset]="offset"
              (page)="setPage($event)" (sort)="onSort($event)">

              <ngx-datatable-column name="TP Count" prop="tp_value" [width]="200">
                <ng-template ngx-datatable-cell-template let-row="row">
                  {{ row.tp_value }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Per Tp Price" prop="tp_value" [width]="200">
                <ng-template ngx-datatable-cell-template let-row="row">
                  {{ gettotalprice(row.price)  }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Total Price" [sortable]="false" prop="total" [width]="200">
                <ng-template ngx-datatable-cell-template let-row="row">
                  {{ (row.price * row.tp_value) | number : '1.2-2' }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Type" prop="type" [width]="200">
                <ng-template ngx-datatable-cell-template let-row="row">
                  {{ row.type == 'one_time' ? "One Time" : "Monthly" }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Date" prop="created_at" [width]="200">
                <ng-template ngx-datatable-cell-template let-row="row">
                  {{ row.created_at | date}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Status" prop="status" [width]="200">
                <ng-template ngx-datatable-cell-template let-row="row">
                  <a (click)="changestatus(row.id, row.status)">
                    <span class="badge badge-pill font-small" [ngClass]="{
                            'bg-light-success': row.status == 'active',
                            'bg-light-danger': row.status == 'inactive'
                          }">
                      {{ row.status == "active" ? "Active" : "Inactive" }}
                    </span>
                  </a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" name="Action">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a *ngIf="row.type == 'one_time'" (click)="delete(row.id)"><i
                      class="ft-trash text-danger cursor-pointer"></i>
                  </a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
            <div class="spinner_loading" *ngIf="isLoadingtable$ | async">
              <i class="fa fa-spinner fa-spin"></i> Loading...
            </div>
            <!--/ ngx-datatable Basic -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section id="tp-settings">
  <!-- TP price structure -->


  <div class="row">
    <div class="col-12">
      <div class="card customisecard">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <h4 class="card-title mt-1">TP count settings</h4>
            </div>
          </div>
        </div>
        <div class="card-content">
          <div class="card-body row" [formGroup]="tpForm">
            <div class="col-md-4">
              <fieldset class="form-group">
                <label for="sms-tp-count">SMS TP count : <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" id="sms-tp-count" placeholder="Enter TP Count"
                  formControlName="sms" />
                <div class="text-danger" *ngIf="tpForm.get('sms').hasError('required')">
                  <span class="errormessage">This field is required</span>
                </div>
              </fieldset>
            </div>
            <div class="col-md-4">
              <fieldset class="form-group">
                <label for="mms-tp-count">MMS TP count : <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" id="mms-tp-count" placeholder="Enter TP Count"
                  formControlName="mms" />
                <div class="text-danger" *ngIf="tpForm.get('mms').hasError('required')">
                  <span class="errormessage">This field is required</span>
                </div>
              </fieldset>
            </div>
            <div class="col-md-4">
              <fieldset class="form-group">
                <label for="reply-message-tp-count">Reply message TP count :
                  <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" id="reply-message-tp-count"
                  placeholder="Enter TP Count" formControlName="reply_message" />
                <div class="text-danger" *ngIf="tpForm.get('reply_message').hasError('required')">
                  <span class="errormessage">This field is required</span>
                </div>
              </fieldset>
            </div>
            <div class="col-md-4">
              <fieldset class="form-group">
                <label for="reply-message-tp-count">Select Home Image :
                  <span class="text-danger">*</span></label>
                  <input type="file" (change)="getFile($event)"  id="upload-file" type="file" accept=".jpg,.jpeg,.png"  />
                <div class="text-danger" *ngIf="tpForm.get('reply_message').hasError('required')">
                  <span class="errormessage">This field is required</span>
                </div>
              </fieldset>
            </div>
            <div class="spinner_loading" *ngIf="isLoading$ | async">
              <i class="fa fa-spinner fa-spin"></i> Loading...
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="button" (click)="saveTPCounts()" class="btn btn-sm btn-primary mr-2"
            [disabled]="isLoading$ | async">
            <i class="ft-check-square mr-1"></i> Save
            <i class="fa fa-spinner fa-spin" *ngIf="isLoading$ | async"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>