<!-- Basic Datatables -->
<section id="ngx-datatable-basic">
    <div class="row">
        <div class="col-12">
            <div class="card customisecard">
                <!-- <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title mt-1">Dashboard listing</h4>
                        </div>
                    </div>  
                </div> -->
                <!-- Area Chart Starts -->
                <div class="row text-left">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Rights Holder</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <fieldset class="form-group role_filter mb-2" [formGroup]="filterGroup">
                                        <input class="form-control form-control-sm d-inline-block width-200 mr-1"
                                            type="text" ngxDaterangepickerMd [(ngModel)]="daterangefilter"
                                            [showCustomRangeLabel]="true" [alwaysShowCalendars]="true"
                                            [ngModelOptions]="{standalone: true}" [ranges]=" ranges"
                                            [linkedCalendars]="true" (change)="getByDate($event)"
                                            [isInvalidDate]="isInvalidDate" [showClearButton]="true"
                                            placeholder="Start Date - End Date" />
                                            <i *ngIf="isLoadingtable$ | async" class="fa fa-spin fa-spinner mr-1" ></i>

                                        <ng-select class="d-inline-block form-control-sm width-200 mr-1"
                                            placeholder="Select Channel" formControlName="channel">
                                            <ng-option value="">Select Channel</ng-option>
                                            <ng-option value="{{channel._id}}" *ngFor="let channel of channels">
                                                {{channel.channel_title}}
                                            </ng-option>
                                        </ng-select>
                                    </fieldset>
                                    <div class="height-400">
                                        <canvas height="400" baseChart class="chart" [datasets]="areaChartData"
                                            [labels]="areaChartLabels" [options]="areaChartOptions"
                                            [colors]="areaChartColors" [legend]="areaChartLegend"
                                            [chartType]="areaChartType"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Area Chart Ends -->
                <div class="card-content">
                    <div class="card-body">

                        <!-- ngx-datatable Basic -->
                        <ngx-datatable class="bootstrap core-bootstrap" [rows]="dashboardListing" rowHeight="auto"
                            [messages]="my_messages" [columnMode]="ColumnMode.force" [scrollbarH]="true"
                            [headerHeight]="50" [footerHeight]="50" [count]="count" [externalPaging]="true"
                            [externalSorting]="true" [limit]="limit" [offset]="offset" (page)="setPage($event)"
                            (sort)="onSort($event)">

                            <ngx-datatable-column class="datatable-row-left" [frozenLeft]="true" name="Audio"
                                prop="vedio_name" [width]="260">
                                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                                    {{ row.video_name}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Views" prop="view">
                                <ng-template ngx-datatable-cell-template let-row="row">
                                  {{ row.views | number: "1.0-2" }}
                                </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Likes" prop="like">
                                <ng-template ngx-datatable-cell-template let-row="row">
                                  {{ row.likes | number: "1.0-2" }}
                                </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Dislikes" prop="dislike">
                                <ng-template ngx-datatable-cell-template let-row="row">
                                  {{ row.dislikes | number: "1.0-2" }}
                                </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Comments" prop="comment">
                                <ng-template ngx-datatable-cell-template let-row="row">
                                  {{ row.comments | number: "1.0-2" }}
                                </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Revenue" prop="total_earning">
                                <ng-template ngx-datatable-cell-template let-row="row">
                                  {{ row.total_earning | number: "1.0-2" }}
                                </ng-template>
                              </ngx-datatable-column>
                        </ngx-datatable>
                        <div class="spinner_loading" *ngIf="isLoadingtable$ | async">
                            <i class="fa fa-spinner fa-spin "></i> Loading...
                        </div>
                        <!--/ ngx-datatable Basic -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>