<!-- Basic Datatables -->
<section id="ngx-datatable-basic">
  <div class="row">
    <div class="col-12">
      <div class="card customisecard">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <h4 class="card-title mt-1">Organizations</h4>

            </div>
            <div class="col-md-6">
              <a *ngIf="authService.isCRUDAdmin()" [routerLink]="['/creators/add-new']" class="btn btn-sm btn-primary pull-right"><i class="fa fa-plus-circle"></i>
                Add Creator</a>
              <a *ngIf="authService.isCRUDAdmin()" [routerLink]="['/creators/invite']" style="margin-right: 5px" class="btn btn-sm btn-primary pull-right"><i class="fa fa-plus-circle"></i>
                Send Invitation Link</a>
            </div>

          </div>

        </div>
        <div class="card-content">
          <div class="card-body">
            <fieldset class="form-group role_filter" [formGroup]="filterGroup">
              <label class="mr-1">Search:</label>
              <input class="form-control form-control-sm d-inline-block width-200 mr-1" type="text" placeholder="Search" (keyup)="filterUpdate($event)" />
              <input class="form-control form-control-sm d-inline-block width-200 mr-1" type="text" ngxDaterangepickerMd [(ngModel)]="daterangefilter" [showCustomRangeLabel]="true" [alwaysShowCalendars]="true" [ngModelOptions]="{standalone: true}" [ranges]=" ranges" [linkedCalendars]="true" (ngModelChange)="getByDate($event)" [isInvalidDate]="isInvalidDate" [showClearButton]="true" placeholder="Start Date - End Date" />
              <ng-select formControlName="status" class="d-inline-block form-control-sm width-200 mr-1" placeholder="Select Status">
                <ng-option value="1">Active</ng-option>
                <ng-option value="2">InActive</ng-option>
              </ng-select>
              <!-- <ng-select class="d-inline-block form-control-sm width-200 mr-1" placeholder="Select Clip" formControlName="clip">
                <ng-option value="">Select Clip</ng-option>
                <ng-option value="{{clip._id}}" *ngFor="let clip of clips">
                  {{clip.name}}
                </ng-option>
              </ng-select> -->

            </fieldset>
            <!-- ngx-datatable Basic -->
            <ngx-datatable class="bootstrap core-bootstrap" [rows]="rows" rowHeight="auto" [messages]="my_messages" [columnMode]="ColumnMode.force" [scrollbarH]="true" [headerHeight]="50" [footerHeight]="50" [count]="count" [externalPaging]="true" [externalSorting]="true" [limit]="limit" [offset]="offset" (page)="setPage($event)" (sort)="onSort($event)">
              <ngx-datatable-column class="datatable-row-left" [frozenLeft]="true" name="Name" prop="name" [width]="260">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                  <div class="d-flex align-items-center">
                    <div [routerLink]="['/creators/view', row._id]" class="avatar avatar-admins mr-2 ml-0">
                      <img height="60" width="60" alt="Fanzooma" class="rounded-circle" src="assets/img/default.jpg">
                    </div>

                    <div class="cell-line-height">
                      <p role="button" class="font-medium-1 line-height-1 mb-0" [routerLink]="['/creators/view', row.id]">{{ row.name }}</p>
                      <p class="text-muted font-small-2 margintopbotton">
                        {{ row.email }}</p>
                      <p class="margintopbotton">
                        <a (click)="changestatus(row.id, row.status)"><span class="badge badge-pill font-small" [ngClass]="{'bg-light-success': row.status == '1', 'bg-light-danger': row.status == '2' }">
                            {{ row.status == 1 ? "Active" : "InActive" }}
                          </span>
                        </a>
                      </p>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Created at" [width]="200">
                <ng-template ngx-datatable-cell-template let-row="row">
                  {{ row.created_at | date }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Locations" prop="channels">
                <ng-template ngx-datatable-cell-template let-row="row">
                  <a [routerLink]="['/channels/creator',row.id]">{{ row.locations_count | number }}</a>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="TP balance">
                <ng-template ngx-datatable-cell-template let-row="row">
                  {{ row.tp_balance | number:'1.2-2'}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Next Amount">
                <ng-template ngx-datatable-cell-template let-row="row">
                  ${{ (row.next_amount / 100) | number:'1.2-2'}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Next due date" prop="clips">
                <ng-template ngx-datatable-cell-template let-row="row">
                  {{ row.next_due_date | date }}
                </ng-template>
              </ngx-datatable-column>
              <!-- <ngx-datatable-column [sortable]="false" name="Actions">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <a [routerLink]="['view', row._id]"><i class="ft-eye text-info cursor-pointer"></i>
                                    </a> | <a [routerLink]="['edit', row._id]"><i
                                            class="ft-edit text-info cursor-pointer"></i> </a> | <a
                                        (click)="delete(row._id)"><i class="ft-trash text-danger cursor-pointer"></i>
                                    </a>
                                </ng-template>
                            </ngx-datatable-column> -->
            </ngx-datatable>
            <div class="spinner_loading" *ngIf="isLoadingtable$ | async">
              <i class="fa fa-spinner fa-spin "></i> Loading...
            </div>
            <!--/ ngx-datatable Basic -->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>