.thumb{
    object-fit: cover;
}

.navbar{
    z-index: 1!important;
}

.main-panel{
    z-index: unset!important;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.customizer{
    overflow-y: auto
}